<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"> 
            <h1 class=" text-center">Burger!</h1>
        </div> 
    </div>
    <div class="row myfade">
        <div class="col-6">
            <div id="named">
                <h3>Already Named Burgers</h3>
                <br>
            </div>
            <ul>
                {{!-- WHAT ABOUT this. --}}
                {{#each burgers}}
                {{#unless devoured}}
                <!--devoured not devour-->
                <p>

                    {{burger_name}} <button class="devour" id={{id}}>Devour</button>


                </p>
                {{/unless}}
                {{/each}}
                {{!-- This really should be handled by JS
            <form method="POST" action="/api/burger" class="form">--}}
                <label id="label">Make Your Burger!</label>
                <input type="text" name="newB" id="textNew">
                {{!-- <button id="subBtn">Make Me!</button> --}}
                <input type="submit" id="subBtn" value="Make Me!">
                {{!-- </form> --}}

            </ul>
        </div>
        <div class="col-6">
            <div id="devour">
                <h3>Devoured Burgers!<br>May They Rest In Peace</h3>
                <br>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <!--devoured not devour-->
                    <p>
                        {{id}}.{{burger_name}}<!--<button class="delete" id={{id}}>Delete</button>-->
                    </p>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
           
               
                    

             
           
     </div>
    </div>
</div>
<script>
    $("#subBtn").on("click", function () {
        console.log("test")
        $.ajax({
            type: "POST",
            url: "api/burger",
            data: { burger_name: $("#textNew").val() },
            traditional: true
        }).then(
            location.reload()
        );
    })
    $(".devour").on("click", function () {
        console.log(this.id)
        $.ajax({
            type: "Put",
            url: "api/burger/" + this.id,
        }).then(
            location.reload()
        );
    })

    $(".delete").on("click", function(event) {
        event.preventDefault();
        console.log("test",this.id)
        $.ajax({
            type: "Delete",
            url: "api/burger/" + this.id,
        }).then (
            location.reload()
        );
    })
</script>